---

---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>About This Site</h1>
    <p>このサイトはAstroのチュートリアルを実践していくサイトです。</p>
    <p>中身はとくに考えていません。これはaboutページです。</p>
  </body>
</html>
